* {
  margin: 0; padding: 0;
}

/* colours */
:root{
  --google-button: #4285f4;
}

/* default button */
button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.google-button {
  background-color: var(--google-button);
}

/* default inputs */
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}