.small-cell {
  text-align: center;
  width: 60px;
}

.small-text {
  font-size: 0.8rem;
}


/* default button */
button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-primary {
  background-color: var(--contrast) !important;
  border: 1px solid var(--green) !important;
}

#dark-button {
 color: var(--light);
  background-color: darkslategray;
}

.icon-btn {
  border-radius: 40%;
  text-align: center;
}

.icon-size2 {
  vertical-align: middle;
  font-size: 2rem;
}

.google-button {
  background-color: var(--google-button);
}

#contrast-button {
  background-color: var(--contrast);
  border-radius: 10px;
}

.btn-outline-contrast {
  color: var(--dark);
  background-color: transparent;
  border: 1px solid var(--contrast);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-outline-contrast:hover {
  color: var(--light);
  background-color: var(--contrast);
  border: none;
  border-radius: 10px;
}


/* default inputs */
input {
  padding: 0.25rem;
  font-size: 1rem;
}

select {
  padding: 0.45rem 0.25rem;
}

textarea {
  padding: 0.5rem;
  font-size: 0.8rem !important;
}


 /* table */

 table button {
  background-color: transparent;
 }

 .table-responsive {
  overflow: visible;
  overflow-x: visible !important;
}

 td {
  vertical-align: middle;
}

 @media only screen and (max-width: 600px) {

  main {
    padding: 10px !important;
  }
  
  input {
    padding: 0.5rem;
  }

  table {
    font-size: 0.7rem;
  }
 }

 /* dropdowns */

.dropdown-menu {
  background-color: var(--green) !important;
}

#dropdown-item {
  padding-top: 1rem;
  color: var(--light);
  font-size: 1rem;
}

#dropdown-item:hover {
  color: var(--green);
  font-size: 1rem;
}