* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

/* colours */
:root{
  --google-button: #4285f4;
  --dark: #2d2a32;
  --green: #01696f;
  --pink: #e36588;
  --platinum: #dbdbdb;
  --light: #eef1ef;
}

.small-cell {
  text-align: center;
  width: 60px;
}

.small-text {
  font-size: 0.8rem;
}


/* default button */
button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.google-button {
  background-color: var(--google-button);
}


/* default inputs */
input {
  padding: 0.25rem;
  font-size: 1rem;
  max-width: 15ch;
}

select {
  padding: 0.45rem 0.25rem;
}

textarea {
  padding: 0.5rem;
  font-size: 0.8rem !important;
}


 /* table */

 td {
  vertical-align: middle;
}

 @media only screen and (max-width: 600px) {
  
  input {
    padding: 0.5rem;
    max-width: 6rem;
  }

  table {
    font-size: 0.7rem;
  }
 }