@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* colours */
:root{
  --google-button: #3fd0c9;
  --dark: #3C3744;
  --green: #01696f;
  --muted: #71a7a4;
  --contrast: #3fd0c9;
  --light: #f6f3f3;
  --light2: #e8e8e8;
  --light3: #aabdbe;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 1000px;
}

#body {
  margin: 0;
  /* background: var(--light2); */
  background-image: url("Layout/bg.avif");
/* background: radial-gradient(circle, var(--light2) 60%, var(--light3) 100%); */
  color: var(--dark);
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@media print {
  .noPrint {
    display:none !important;
  }

  #print-heading {
    font-size: 1rem !important;
  }

  .small-text {
    font-size: 0.4rem !important;
  }

  p, span {
    font-size: 0.5rem;
    margin: 0 !important;
  }
  
  span {
    padding: 0.1rem;

  }


}